<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約管理</title>
</head>
<body>
    <h1>予約管理</h1>
    <br>
    <form action="">
        <h2>来店目的を選択してください</h2>
        <select name="purpose" required>
            <option value="">選択してください</option>
            <option value="buy">車両購入</option>
            <option value="adjust">車両整備</option>
            <option value="other">その他</option>
        </select>

        <h2>誰宛の訪問か選択してください</h2>
        <select name="who" required>
            <option value="">山田</option>
            <option value="">田中</option>
            <option value="">橋本</option>
            <option value="">特に決まっていない</option>
        </select>

        <h2></h2>
    </form>
</body>
</html>